<div class="content-wrapper welcome">
    <div class="title">
        <h1>
            I am Gui Silva. Welcome to my Portfolio.<br />
            Checkout my latest Demo Reel.
        </h1>
    </div>
    <div class="video">
        <iframe
            s="https://www.youtube.com/embed/d3I3YyuELfU?playlist=d3I3YyuELfU&loop=1&autoplay=1&mute=1"
        >
        </iframe>
    </div>
    <div class="buttons">
        <button>Checkout Featured Projects</button>
        <button>Checkout All Demo Reels</button>
    </div>
</div>
<div class="content-wrapper projects">
    <div class="title">
        <h1>Checkout my other projects too!</h1>
    </div>
    <div class="scrollable">
        <div class="cards">
            @for (card of projectCards; track card.title) {
                <div
                    class="card"
                    [style.background-image]="'url(\'' + card.image + '\')'"
                >
                    <div class="card-content">
                        <div class="card-title">{{ card.title }}</div>
                        <div class="card-description">
                            {{ card.description }}
                        </div>
                        <div class="card-button">
                            <a href="{{ card.redirect }}">Read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="buttons">
        <button>Checkout All Projects</button>
    </div>
</div>
<div class="content-wrapper about">
    <div class="title">
        <h1>About me</h1>
    </div>
    <div class="container">
        <div class="image">
            <img src="/assets/400x600.svg" />
        </div>
        <div class="description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae numquam nesciunt inventore eveniet odit voluptas in
                eum aut hic quaerat ex praesentium ducimus nisi, voluptatum
                quasi, sequi sunt tenetur non.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                natus unde praesentium quo placeat. Aspernatur maiores eum ab
                vero exercitationem numquam sed dolore sint quibusdam quia enim,
                temporibus quae voluptatibus?
            </p>
        </div>
    </div>
</div>
<div class="content-wrapper skills">
    <div class="content">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
            tempora maiores ab quia ex sequi facere, beatae, temporibus magni,
            inventore explicabo accusamus mollitia? Libero maiores quisquam
            tempora omnis aperiam totam.
        </p>
    </div>
    <div class="cards">
        @for (icon of programIcons; track icon.name) {
            <div
                class="card"
                [style.background-image]="'url(\'' + icon.image + '\')'"
            >
                {{ icon.name }}
            </div>
        }
    </div>
</div>
