<div class="content-wrapper welcome">
    <div class="content">
        <h2>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
            tempora maiores ab quia ex sequi facere, beatae, temporibus magni,
            inventore explicabo accusamus mollitia? Libero maiores quisquam
            tempora omnis aperiam totam.
        </h2>
    </div>
    <div class="video">
        <iframe
            s="https://www.youtube.com/embed/d3I3YyuELfU?playlist=d3I3YyuELfU&loop=1&autoplay=1&mute=1"
        >
        </iframe>
    </div>
    <div class="buttons">
        <button>Lorem Ipsum</button>
    </div>
</div>
<div class="content-wrapper projects">
    <div class="content">
        <h2>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
            tempora maiores ab quia ex sequi facere, beatae, temporibus magni,
            inventore explicabo accusamus mollitia? Libero maiores quisquam
            tempora omnis aperiam totam.
        </h2>
    </div>
    <div class="scrollable">
        <div class="cards">
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
        </div>
    </div>
</div>
