<div class="content-wrapper welcome">
    <div class="content">
        <h1>
            I am Gui Silva. Welcome to my Portfolio. Checkout my latest Demo
            Reel
        </h1>
    </div>
    <div class="video">
        <iframe
            s="https://www.youtube.com/embed/d3I3YyuELfU?playlist=d3I3YyuELfU&loop=1&autoplay=1&mute=1"
        >
        </iframe>
    </div>
    <div class="buttons">
        <button>Lorem Ipsum</button>
    </div>
</div>
<div class="content-wrapper projects">
    <div class="content">
        <h2>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
            tempora maiores ab quia ex sequi facere, beatae, temporibus magni,
            inventore explicabo accusamus mollitia? Libero maiores quisquam
            tempora omnis aperiam totam.
        </h2>
    </div>
    <div class="scrollable">
        <div class="cards">
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
        </div>
    </div>
    <div class="scrollable">
        <div class="cards">
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
            <div class="card">hello world</div>
        </div>
    </div>
    <div class="buttons">
        <button>Lorem Ipsum</button>
    </div>
</div>
<div class="content-wrapper about">
    <div class="content">
        <div class="image">
            <img src="https://placehold.co/400x600" />
        </div>
        <div class="description">
            <h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae numquam nesciunt inventore eveniet odit voluptas in
                eum aut hic quaerat ex praesentium ducimus nisi, voluptatum
                quasi, sequi sunt tenetur non.
            </h2>
            <h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                natus unde praesentium quo placeat. Aspernatur maiores eum ab
                vero exercitationem numquam sed dolore sint quibusdam quia enim,
                temporibus quae voluptatibus?
            </h2>
        </div>
    </div>
</div>
<div class="content-wrapper skills">
    <div class="content">
        <h2>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam
            tempora maiores ab quia ex sequi facere, beatae, temporibus magni,
            inventore explicabo accusamus mollitia? Libero maiores quisquam
            tempora omnis aperiam totam.
        </h2>
    </div>
    <div class="cards">
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
        <div class="card">hello world</div>
    </div>
</div>
