@import "../styles.scss";

::ng-deep .content-wrapper {
    padding: 0 calc(50% - ($content-width - $content-padding) / 2);
    width: $content-width - $content-padding;
    max-width: 100%;

    > * {
        margin: 0 $content-padding;
    }
}
