@import "../styles.scss";

::ng-deep .content-wrapper {
    padding: 0 calc(50% - ($content-width - $content-padding) / 2);
    width: $content-width - $content-padding;
    max-width: 100%;

    > * {
        margin: 0 $content-padding;
    }
}

.header {
    background: blue;
    height: $header-height;
    padding: 0 calc(50% - $header-width / 2);
    width: $header-width;
    position: sticky;
    top: 0;

    > .tabs {
        justify-content: space-between;
        display: flex;

        > a {
            width: fit-content;
            line-height: $header-height;
            text-align: center;
        }
    }
}
