$content-min-width: 400px;
$content-width: 1000px;
$content-padding: 20px;

$header-width: 600px;
$header-height: 50px;

html,
body {
    min-width: 400px;
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}
